/*RESET*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}


body {
    font-family: Cinzel;
}

.customHeader {
    background-color: #71cfc4;
    font-family: Cinzel;
    font-size: 20px;
}

.customTitle {
    display: flex;
    justify-content: center;
    color: #BDE5CE;
}


.custom_txt {
    font-family: Cinzel bold;
    padding-top: 45px;
    color: #BDE5CE;

}

.logoFinca {
    height: 200px;
    width: 200px;
}

.heroColor {
    background-color: #f9ecd1;
}


.mainPrincipales {
    padding-bottom: 15px;
    background-color: #274b58;
    padding-top: 20px;
}


.mainContacto {
    background-image: url(../img/wine.jpg);
    background-size: cover;
    padding-bottom: 15px;
}

.prueba {
    background-image: url(../img/barriles.jpg);
    background-size: cover;
    color: #f9ecd1;
}

.customImg {
    height: 300px;
    width: 600px;
}

.cardColor {
    background-color: #f9ecd1;
}





.img__footer {
    width: 50px;
    padding-top: 15px;
}

.imgSize {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.customFooter {
    background-color: #71cfc4;
    font-family: Cinzel;
    font-size: 20px;
    /* margin-top: 15px; */
}

.imgFooter {
    width: 50px;
    padding-top: 15px;
}

.tituloMapa {
    font-family:Cinzel;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #BDE5CE;
    padding-top: 20px;
}

.marcoMapa {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: Cinzel;
    color: #BDE5CE;

}

.tituloFormulario {
    color: #BDE5CE;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.formularioDos {
    height: 200px;
    width: 250px;
}

.botonesFormulario {
    margin-left: 25px;
    background-color: #71cfc4;

}

.formularioTxt {
    width: 250px;
}


.contacto {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 432px) {

    .titulo {
        display: none;
    }

    .mainPrincipales { 
        
        background-image: none;
        background-color: #274b58;

}

}
