/*RESET*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel-VariableFont_wght.ttf);
}


body {
    /* background-color: #6fb1b4; */
    background-image: url(../img/wine.jpg);
}

.customHeader {
    /* background-color: #3a727f; */
    font-family: Cinzel;
    font-size: 20px;
    background-color: #66ffbb;
    background-image: linear-gradient(186deg, #66ffbb 0%, #bbddee 66%);

}

.custom_txt {
    font-family: Cinzel;
    padding-top: 20px;
}

.customImg {
    height: 300px;
    width: 600px;
}

.footerCustom{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #66ffbb;
    background-image: linear-gradient(186deg, #66ffbb 0%, #bbddee 66%);
    height: 100px;
    padding: 0 15px;
    margin-top: 15px;
}

.footer__contenido {
    grid-area: footer__contenido;
    margin-right: 20px;
    color: #3a727f;
    font-size: 15px;
    font-family: Cinzel;
}



.img__footer {
    grid-area: img__footer;
    width: 50px;
    padding-top: 15px;
}

.imgSize {
    height: 400px;
    width: 100%;
    object-fit: cover;
}