
.prueba {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/barriles.webp);
    background-size: cover;
    color: black;
}

.pruebaDos {
    @extend .prueba;
    background-image: url(../img/olives2.webp);
}

.pruebaTres {
    @extend .pruebaDos;
    background-image: url(../img/combi4.webp);
}

.pruebaCuatro {
    @extend .prueba;
    background-image: url(../img/vinedo.webp);
}


.mainPrincipalesDos {
    @extend .mainPrincipales;
}

