
.prueba {
    background-image: url(../img/barriles.jpg);
    background-size: cover;
    color: $backColorHeroTxtCard;
}

.pruebaDos {
    @extend .prueba;
    background-image: url(../img/olives2.jpg);
    color: black;
}