.img__footer {
    width: 50px;
    padding-top: 15px;
}

.imgSize {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.customFooter {
    background-color: $backColorHeaderFooter;
    font-family: Cinzel;
    font-size: 20px;
}

.imgFooter {
    width: 50px;
    padding-top: 15px;
}