
.tituloFormulario {
    color: $formColor;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}



.formularioContacto {
    background-color: $backColorHeroTxtCard;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.botonesFormulario {
    margin-bottom: 15px;
    background-color: $backColorHeaderFooter;
}

.formularioTxt {
    width: 250px;
    border-style: solid;
    border-color: black;
}


.tituloMapa {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $formColor;
    padding-top: 20px;
}

.marcoMapa {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $backColorHeroTxtCard;
    margin-bottom: 20px;

}
