.customHeader {
    background-color: $backColorHeaderFooter;
    font-family: Cinzel;
    font-size: 20px;
}

.customTitle {
    display: flex;
    justify-content: center;
    color: #BDE5CE;
}


.logoFinca {
    height: 200px;
    width: 200px;
}