.heroColor {
    background-color: $backColorHeroTxtCard;
}

// ver //
h3 {
    text-decoration: underline;
}

.letra {
    letter-spacing: 2px;
    margin-bottom: 1px;
}


.mainContacto {
    background-color: $colorBackground;
    padding-bottom: 15px;
    padding-top: 15px;
}



.backCo {
    background-color: $backColorHeroTxtCard;
    opacity: 75%;
    text-align: center;
    text-transform: uppercase;
}

.customImg {
    height: 300px;
    width: 600px;
}

.cardColor {
    background-color: $backColorHeroTxtCard;

}

.imgSize {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
