.heroColor {
    background-color: $backColorHeroTxtCard;
}


.mainPrincipales {
    padding-bottom: 15px;
    background-color: $colorBackground;
    padding-top: 20px;
}


.mainContacto {
    background-image: url(../img/wine.jpg);
    background-size: cover;
    padding-bottom: 15px;
}

.prueba {
    background-image: url(../img/barriles.jpg);
    background-size: cover;
    color: $backColorHeroTxtCard;
}

.customImg {
    height: 300px;
    width: 600px;
}

.cardColor {
    background-color: $backColorHeroTxtCard;
}

.imgSize {
    height: 400px;
    width: 100%;
    object-fit: cover;
}