.heroColor {
    background-color: $backColorHeroTxtCard;
}





.mainContacto {
    background-image: url(../img/wine.jpg);
    background-size: cover;
    padding-bottom: 15px;
}



.backCo {
    background-color: $backColorHeroTxtCard;
    opacity: 75%;
    text-align: center;
}

.customImg {
    height: 300px;
    width: 600px;
}

.cardColor {
    background-color: $backColorHeroTxtCard;

}

.imgSize {
    height: 400px;
    width: 100%;
    object-fit: cover;
}