


    @media screen and (max-width: 432px) {
        .navbar-brand {
        display: none; }
        .prueba {
        background-image: none; }
        .backCo {
        background-color: $colorBackground;
        color: $backColorHeroTxtCard;}
        .cardColor {
        margin-bottom: 15px;}}
//ver tema @media para ahorrar codigo// 

        @media screen and (max-width: 820px) {
            .cardColor {
                margin-bottom: 15px;}}

                @media screen and (max-width: 1200px) {
                    .cardColor {
                        margin-bottom: 15px;}}

