
@mixin parametros ($ancho, $largo) {
    width: $ancho ;
    height: $largo;
}

.formularioDos {
    @include parametros (250px, 200px);
    border: 2px;
    border-style: solid;
    border-color: black;
}