// variables //
$colorBackground: #274b58;
$backColorHeaderFooter: #71cfc4;
$backColorHeroTxtCard: #f9ecd1;
$formColor: black;


// variables para animaciones //
$image-bg: #274b58;
$figcaption-bg: #274b58;
$figcaption-padding: 30px;
$text-color: #f9ecd1;
$border-color: #ffffff;
$border-margin: 5px;
$border-width: 4px;
$transition-duration: 0.35s;
$shift-distance: 10px;