// variables //
$colorBackground: #274b58;
$backColorHeaderFooter: #71cfc4;
$backColorHeroTxtCard: #f9ecd1;


// variables para animaciones //
$image-bg: #274b58;
$figcaption-bg: #274b58;
$figcaption-padding: 30px !default;
$text-color: #f9ecd1 !default;
$border-color: #ffffff !default;
$border-margin: 5px !default;
$border-width: 4px !default;
$transition-duration: 0.35s !default;
$shift-distance: 10px !default;